:root{
    --primary-color: #4c65c6;
    --secondary-color: #94a6e9;
    --accent-color: #dedcff;
    --text-color: #000000;
}

header{
    height: 109px;
    background-color: var(--primary-color);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header h1{
    display: flex;
    align-items: center;
    font-size: 40px;
}

header div {
    display: flex;
    gap: 10px;
}

header div a{
    color: var(--text-color);
    text-decoration: none;
    font-size: 24px;
}

body {
    font-family: Alata;
}

footer{
    height: 70px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer a {
    color: var(--text-color);
    font-size: 16px;
    text-decoration: none;
    background-color: var(--secondary-color);
    border-radius: 4px;
    padding: 6px 16px;
}

footer a:hover{
    background-color: var(--accent-color);
}

.feedback-input{
    background-color: var(--secondary-color);
}

.description {
    background-color: var(--secondary-color);
    height: 318px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.description p {
    width: 614px;
    height: 134.13px;
    font-size: 16px;
}

.profile-pic {
    width: 247px;
    height: 247px;
    border-radius: 50%;
    object-fit: cover;
}

.lists{
    display: flex;
    justify-content: center;
    gap: 20px;
}
/* 
.hobbies{

} */

/* .top-five{

} */

.feedback form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feedback h4{
    font-size: 24px;
}

.feedback input{
    background-color: var(--secondary-color);
    width: 70%;
    height: 56px;
    font-size: 16px;
    font-family: Alata;
}

.feedback textarea{
    background-color: var(--secondary-color);
    width: 70%;
    height: 56px;
    resize: none;
    font-size: 16px;
    font-family: Alata;
}

.feedback button[type=submit]{
    background-color: var(--secondary-color);
    padding: 8px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-family: Alata;
}

.feedback button[type=submit]:hover{
    background-color: var(--accent-color);
}